<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <!-- 引入样式文件 -->
  <link rel="stylesheet" href="https://unpkg.com/vant@2.12/lib/index.css" />

  <!-- 引入 Vue 和 Vant 的 JS 文件 -->
  <script src="https://unpkg.com/vue@2.6/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vant@2.12/lib/vant.min.js"></script>
  <script src="https://unpkg.com/vue-router@3.0.0/dist/vue-router.js"></script>
</head>

<body>
  <div>
    vue2 中 data 数据已经变了，但数据未正确渲染，
    此例子中使用了 van-action-sheet 组件，可以看到 list 已经多次变了，
    但数据未渲染出来（在其它场景现象可能是 list 渲染条数不变或不正确）
    (在 keep-alive 组件中，也可能有问题，遇到的现象是 list 个数减少能正确渲染，更增多就渲染不出来)

    (van-action-sheet get-container vant@3 在实现上有一些bug，在 vant@4 后使用了 vue3 的 Telepart 后应该就没有这个问题了）

    van-action-sheet get-container 属性找不到时会使用默认值，即挂载到当前组件下面，本例子中 #app 不存在（#app为vue入口，会被替换成普通 div 且没有 id 属性）

    修改办法：将 van-action-sheet 套一层 div

    组件 mixin 关系如下，get-container 最终是 portal 里面的，所以中间这一条链路都可能会出现上面类似的问题：
    action-sheet -> popup -> portal
  </div>
  <div id="app"></div>

  <script>
    const component = {
      template: `<div>
              <van-button @click="onRefresh">
                切换数据
              </van-button>
              <van-button @click="showAction = !showAction">action</van-button>
              <div>
                {{ flag }}
              </div>

              <div
                v-for="(item, idx) of list"
                :key="idx"
              >
                <div>{{ item.name }}</div>
              </div>

              <div>
                <van-action-sheet get-container="#app1" v-model="showAction" :actions="actions" />
              </div>
            </div>`,
      data() {
        return {
          list: [],
          flag: false,
          showAction: false,
          actions: [{
            name: '操作'
          }]
        };
      },
      mounted() {
        this.getList();
      },
      methods: {
        onRefresh() {
          this.flag = !this.flag;
          this.getList();
        },
        getList() {
          const list = this.flag
            ? [{ name: '张三', id: 1 }]
            : [{ name: '李四', id: 2 }, { name: '王五', id: 3 }];
          console.log('list', list);
          this.list = list;
          return;
        },
        getContainer() {
          return document.body.querySelector('#app1');
        }
      },
    }
    const router = new VueRouter({
      routes: [
        {
          path: '/',
          component,
        }
      ]
    })


    new Vue({
      el: '#app',
      template: `<main id="app1"><router-view></router-view></main>`,
      router,
    });

  </script>
</body>

</html>